[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/M5Stack"]
	path = components/M5Stack
	url = https://github.com/m5stack/M5Stack.git
[submodule "components/mruby_component/mruby"]
	path = components/mruby_component/mruby
	url = https://github.com/kishima/mruby.git
